<?php
/**
 * @script   demo.php.dist
 * @brief    这是框架自带的爬虫应用Demo的全局启动脚本:
 *           $ cp demo.php.dist demo.php && php demo.php 
 * @author   blogdaren<blogdaren@163.com>
 * @version  1.0.3
 * @modify   2022-03-26
 */
require_once __DIR__ . '/Application/Core/Launcher.php';

\PHPCreeperApp\Core\Launcher::start();


