<?php 
/**
 * @script   single.php
 * @brief    这是脱离爬山虎应用框架的自定义启动脚本:
 *           $ cp single.php.dist single.php && php single.php 
 * @author   blogdaren<blogdaren@163.com>
 * @link     http://www.phpcreeper.com
 * @create   2022-03-26
 */

require "./vendor/autoload.php";

use PHPCreeper\Kernel\PHPCreeper;
use PHPCreeper\Producer;
use PHPCreeper\Downloader;
use PHPCreeper\Parser;


startAppProducer();
startAppDownloader();
startAppParser();
//PHPCreeper::enableMultiWorkerMode(false);


function startAppProducer()
{
    $producer = new Producer;
    $producer->setName('AppProducer')->setCount(1);
    $producer->onProducerStart = function($producer){
        $task = array(
            'url' => array(
                "r1" => "http://www.weather.com.cn/weather/101010100.shtml",
            ),
            'rule' => array(
                "r1" => array(
                    'time' => ['div#7d ul.t.clearfix h1',      'text'],
                    'wea'  => ['div#7d ul.t.clearfix p.wea',   'text'],
                    'tem'  => ['div#7d ul.t.clearfix p.tem',   'text'],
                    'wind' => ['div#7d ul.t.clearfix p.win i', 'text'],
                ), 
            ),
        );
        $context = [
            'cache_enabled'   => true,                              
            'cache_directory' => '/tmp/task/download/' . date('Ymd'), 
        ];
        $producer->newTaskMan()->setContext($context)->createMultiTask($task);
    };
}

function startAppDownloader()
{
    $downloader = new Downloader();
    $downloader->setTaskCrawlInterval(2);
    $downloader->setName('AppDownloader')->setCount(2)->setClientSocketAddress([
        'ws://127.0.0.1:8888',
    ]);
    $downloader->onDownloaderStart = function($downloader){
        //$worker = new Downloader();
        //$worker->setServerSocketAddress("text://0.0.0.0:3333");
        //$worker->serve();
    };
}

function startAppParser()
{
    $parser = new Parser();
    $parser->setName('AppParser')->setCount(1);
    $parser->setServerSocketAddress('websocket://0.0.0.0:8888');
    $parser->onParserExtractField = function($parser, $download_data, $fields){
        pprint($fields);
    };
}

PHPCreeper::runAll();


